body {
    background-color: #F2F2F2;
}

#listePrest table{
    margin-left: 15%;
    margin-right: 15%;
}

#listePrest table tr td {
    border-style: solid;
    border-color:black;
    border-width:1px;
    padding: 5px;
    text-align: center;

}

.glyphicon-star, .glyphicon-star-empty {
    color: #ffb733;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-heading, .prest-title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
}

.prest-list {
    padding-top: 30px;
}

.card {
    margin-bottom: 50px;
    background-color: #FFFFFF;
    border-bottom: 1px #CCCCCC solid;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
}

.card a > img {
    width: 100%;
    height: 250px;
    border-radius: 3px 3px 0 0;
}

.card-bottom {
    padding: 30px 10px;
}

.card h3 {
    font-weight: 700;
    font-size: 1.5em;
}

.card h3 a {
    color: #252525;
    text-decoration: none;
}

.card p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.card p.prest-descr {
    padding: 20px 0;
    font-size: 1.3em;
}

.label {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.9em;
}

.prest-desc {
    display: none;
}

.card-btn {
    margin-top: 20px;
    background-color: #252525;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

.card-btn:hover {
    background-color: #353535;
    color: #FFFFFF;
}

textarea {
    resize: none;
    width : 250px;
}

#content table{
    margin-left: 15%;
    margin-right: 15%;
}

#content table tr td {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.prest-img {
    height: 500px;
}

.prest-img > img {
    height: 100%;
}


